@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

nav {
  background: transparent linear-gradient(to right, #00242f 0%, #09546c 100%) repeat scroll 0 0/150% 150% !important;
}

.sidebar-nav {
  background: transparent linear-gradient(to right, #003e50 0%, #09546c 100%) repeat scroll 0 0/150% 150% !important;
}

#wrapper {
  background: transparent linear-gradient(to right, #00242f 0%, #09546c 100%) repeat scroll 0 0/150% 150% !important;
}


.a-font-white {
  color: white;
  font-family: 'Droid Arabic Kufi', serif;
}

.a-font-family {
  font-family: 'Droid Arabic Kufi', serif;
}

#a-font-user {
  color: white;
}

#a-font-user:hover {
  color: #09546c;
}

.form{
  border-radius: 15px;
  background-color: #f2f2f2;
  padding: 30px;
  width: 50%;
}
